@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Sans:wght@200&display=swap');

/* HEADER */
*{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}
body {
    margin: 0;
    background-color: #222;
    
}

nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;

    border-bottom: 1px solid #44D62C;
}

#navHeader{
    margin: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;    
    
  
}

#navMenu{
    box-sizing: border-box;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;


}

#navList {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    display: flex;
}


#navMenu a{   
    display: flex;
    text-decoration: none;
    color: lightgrey;
    
}

li{
    padding-right: 4px;
}

#navLogo {
    width: 35px;
    vertical-align: middle;
    border-style: none;
}

#searchIcon {
    height: 20px;
    vertical-align: middle;
}

#cartIcon {
    height: 20px;
    vertical-align: middle;
}

#hamburger {
    display: none;
    margin-left: 10px;
}
#hamburger div {
    justify-content: left;
    background-color: white;
    height: 1px;
    width: 20px;
    margin: 3px 0;
}

#notificationBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    border: 0;
    background-color: gray;
    min-height: 44px;
    padding: 0;
}
#notificatonText{
    flex-wrap: wrap;
    color: white;
}

#notificationList {
    color: white;
    text-decoration: none;
}

#notificationList:hover {
    text-decoration: underline;
}


/* IMAGE DIV */
#fullImagesContainer {
    box-sizing: border-box;
}

.imageDiv {
    box-sizing: border-box;
    height: 5px;
    flex-wrap: wrap;
    display: flex;
    background-color: #222;
    width: 100%;
}

/* PICTURES */
#pictureHoliday {
    margin-bottom: 0;
    width: 100%;
}
#pictureHeaders {
    width: 100%;
}
#pictureLambo {
    width: 100%;
}

/* PICTURES LIST */

#listPicturesContainer {
    box-sizing: border-box;
    flex-wrap: wrap;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;

}

/* ----- 1 -----*/

.listPictures1{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    

}

#chair {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width:50%;
    padding-right: 5px;
    


}
#chairImage {
    display: flex;    
    flex-wrap: wrap;
    width: 100%;
}
/* content */

.content{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
  
}

#razen{
    color: white;
    position: absolute;
    margin-top: 5%;
    font-size: 2.5rem;
}

#play{
    color: white;
    position: absolute;
    margin-top: 12%;
    font-size: 1.3rem;
}


/* ------------------------------ */
#laptops{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width:50%;
}
#laptopsImage {
    flex-wrap: wrap;
    width: 100%;
}




/* ----- 2 -----*/

.listPictures2{
    display: flex;
    width: 100%;
}
#games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width:50%;
    padding-right: 5px;
}
#gamesImage {
    flex-wrap: wrap;
    width: 100%;
}

#keyboard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width:50%;
}
#keyboardImage {
    flex-wrap: wrap;
    width: 100%;
}


/* ----- 3 -----*/

.listPictures3{
    display: flex;
    width: 100%;
}

#animes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width:50%;
    padding-right: 5px;
}
#animesImage {
    flex-wrap: wrap;
    width: 100%;
}
#cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width:50%;
}
#cardsImage {
    flex-wrap: wrap;
    width: 100%;
}




/* ----------FOOTER top---------- */


#full {
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;    
    background-color: black;
    box-sizing: border-box;    
    border: 1px solid red;
    height: 100%;
    width: 100%;
   
}


footer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #44D62C;
    width: 75%;
    height: fit-content;
    border-bottom: 1px solid white

}

.listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid red;
    display: block;
}

ul{
    color: white;
    list-style: none;

}

.listTitle{
    font-size: 15px;
    color:white;
    text-decoration:double;
}

li {
    font-size: 5px;
    color: gray;
    margin: 10px;
}


.mediaImage {
    height: 1.75rem;
    width: 1.75rem;
}


#footerh3{
   font-size: 15px;
   color: #44D62C;


}

/* ----------FOOTER botom---------- */

#bottomListContainer{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid #44D62C;
    align-content: end;
    width: 75%;
    height: fit-content;
    border-bottom: 1px solid white

}

#botomListContainerleft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#bo

#botomListContainerright {
    display: flex;
    flex-wrap: wrap;
}

.botomAtext {
    margin-top: 10px;
    font-size: 12px;
}

#botomListTop {
    margin-top: 5px;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
}

#botomListbotom {
    margin-top: 5px;
    display: flex;
    align-content: flex-end;
    flex-direction: row;
}











/* MEDIA */
@media(max-width: 1053px) {


.listItem{
        display: none;
    }

    #hamburger{
        display: block;
    }
    #navMenu {
        display: flex;
        justify-content: space-between;
    }
    #navList {
        width: 30px;
    }

/* PICTURES LIST */

    /* ----- 1 -----*/

    .listPictures1{
        display: block;
        width: 100%;
 
    }

    #chair {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        width:100%;
        padding-bottom: 5px;
        
    
    
    }
    #chairImage {
        display: flex;    
        flex-wrap: wrap;
        width: 100%;
    }
    /* content */
    
    .content{
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        position: relative;
      
    }
    
    #razen{
        color: white;
        position: absolute;
        margin-top: 5%;
        font-size: 2.5rem;
    }
    
    #play{
        color: white;
        position: absolute;
        margin-top: 12%;
        font-size: 1.3rem;
    }
    
    #laptops{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        width:100%;
    }
    #laptopsImage {
        flex-wrap: wrap;
        width: 100%;
    }

    /* ----- 2 -----*/

    .listPictures2{
        display: block;
        width: 100%;
    }
    #games {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        width:100%;
        padding-bottom: 5px;
    }
    #gamesImage {
        flex-wrap: wrap;
        width: 100%;
    }

    #keyboard{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        width:100%;
    }
    #keyboardImage {
        flex-wrap: wrap;
        width: 100%;
    }


    /* ----- 3 -----*/

    .listPictures3{
        display: block;
        width: 100%;
    }

    #animes{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        width:100%;
        padding-bottom: 5px;
    }
    #animesImage {
        flex-wrap: wrap;
        width: 100%;
    }
    #cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        width:100%;
    }
    #cardsImage {
        flex-wrap: wrap;
        width: 100%;
    }









}

